/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .logo {
    font-family: 'Alfa Slab One', serif;
    color: rgb(18, 61, 75);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(18, 61, 75);
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: rgb(63, 133, 156);
  }
  